.slider{
    padding: 80px 0px;
    background-color:white;
    color: black;
    max-width: 100%;
    
}
.slider .card{
    max-width: 100%;
    background-color:white;
    color: black;
    border: none;
    padding: 0 5%;

}
.slider .tab-title {
    color: black;
    cursor: pointer;
}
  
.slider .tab-desc {
    display: none;
}
  
.tab-title:hover + .tab-desc {
    display: block;
    cursor: pointer;
    background-color:black;
    color: white;
    transition: 1s;
    
}
.slider .card-body{

    padding-right:5% ;

}